<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/css/timedropper.css">
  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">

  <link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">

  <link rel="stylesheet" href="/css/views/style.css">
  <link rel="stylesheet" href="/css/views/main.css">
  <link rel="stylesheet" href="/css/views/noncover.css">
  <link rel="stylesheet" href="/css/views/writepost.css">
  <link rel="stylesheet" href="/css/views/maps.css">
</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-settings js-menu-toggle"></span>
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    
    <!--상단바-->
    <div class="site-navbar-wrap js-site-navbar bg-white">

      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center" id="site-navbar-line">
              <div class="col-2">
                <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#"
                  class="site-menu-toggle js-menu-toggle"><span class="icon-arrow_back h3" id="nav-back"></span></a></div>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <!-- d-lg-none -->
                    
                    <!-- d-lg-block -->
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section bg-light">
    <div class="container" id="writeForm">
      <div class="row" id="writeRow">
          <div class="form-group col-12">
				<div class="row form-group" id="google-modal-form">
        <div class="col-12 " id="div-keyword">
          <input type="text" class="span6" name="keyword" id="keyword" placeholder="<%=mapSearchText%>">
          <hr>
        </div>
        <div id="map_canvas_changePlace"></div>
					</div>
				</div>	
      </div>
    </div>

  </div>



</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/lib/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/lib/jquery-ui.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/owl.carousel.min.js"></script>
<script src="/js/lib/jquery.stellar.min.js"></script>
<script src="/js/lib/jquery.magnific-popup.min.js"></script>
<script src="/js/lib/bootstrap-datepicker.js"></script>
<script src="/js/lib/timedropper.js"></script>
<script src="/js/lib/aos.js"></script>

<script src="/js/lib/mediaelement-and-player.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr-r448ruHCKvwugrHq9nH2-SXqkj4u9M&libraries=places"async defer></script>

<script src="/js/views/main.js"></script>


<script type="text/javascript">
  $(document).ready(function () {

    var loginStatus  = "<%=loginStatus %>";
    var userId = "<%=userId%>";

    var latX =null;
    var longY = null;
    var place = null;

    var no = location.href
      .substr(location.href.lastIndexOf('=') + 1);

    var headcountnow = null;

    var allData = {
          "writer" : userId,
          "no" : no
        }

        $.ajax({
        url: "/board/managiment/getplace",
        data: allData,
        async: false,
        type: "get",
        success: function (data) {
          if(data['result'] == true){
          if(data.rows.length == 0){
            alert("<%=errorMessage%>");
            history.back();
          }
          else{
            
            $.each(data.rows, function (index, item) {
                
              latX = parseFloat(item.LATITUDE);
              longY = parseFloat(item.LONGITUDE);
              $("#keyword").val(item.PLACE);
              googlemapStart();
            });
          }
        }else if(data['result'] == false){
          
          alert("<%=errorInfo%>");
        }
      },
	beforeSend: function () {
	},
	complete: function () {
	}
    });

    function googlemapStart(){
        var myLatLng = {lat: latX, lng: longY};
      
      if(latX == null || longY == null || latX == "" || longY == ""){
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
             latX =  position.coords.latitude;
             longY = position.coords.longitude;
          })
        }else{
            latX = '37.532600';
            longY = '127.024612';
        }
      }
        var map_options = {
        center:{lat: latX, lng: longY},
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas_changePlace"), map_options);

    var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(myLatLng.lat),
        new google.maps.LatLng(myLatLng.longY)
    );

    var input = document.getElementById("keyword");
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo("bounds", map);
    var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });

    google.maps.event.addListener(autocomplete, "place_changed", function(event)
    {
        var place = autocomplete.getPlace();

        keyword = $("#keyword").val();

        
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }

        marker.setPosition(place.geometry.location);
        var latitude = marker.getPosition().lat();
    var longitude = marker.getPosition().lng();
    
    });

    google.maps.event.addListener(map, "click", function(event)
    {
        marker.setPosition(event.latLng);
        var latitude = event.latLng.lat();
    var longitude = event.latLng.lng();
    
    if (confirm("<%=mapAlertText%>") == true){
      latX = latitude;
      longY = longitude;
      updateplace(latX, longY);
      }
    });

    marker.addListener('click', function() {
      var latitude = marker.getPosition().lat();
      var longitude = marker.getPosition().lng();
      if (confirm("<%=mapAlertText%>") == true){
      latX = latitude;
      longY = longitude;
      updateplace(latX, longY);
      
      }
    });
    };

    function updateplace(latX, longY, ){

        
        var newPlace = $("#keyword").val();
        
        allData = {
          "writer" : userId,
          "no" : no,
          "place" : newPlace,
          "lat" : latX,
          "long" : longY
        }

        $.ajax({
			url: "/board/managiment/updatplace",
			data: allData,
			async: false,
			type: "get",
			success: function (data) {
                if(data['result'] == true){
                alert("<%=successInfo%>");
                history.back();
                
                }else if(data['result'] == false){
          
            alert("<%=errorInfo%>");
            }
        },
		beforeSend: function () {
		},
		complete: function () {
		}
		});
    };
    
  });

</script>



</html>