<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">


    <% include ../css/default %>
        <link rel="stylesheet" href="/css/views/noncover.css">
        <link rel="stylesheet" href="/css/views/writepost.css">
        <link rel="stylesheet" href="/css/views/search.css">
        <link rel="stylesheet" href="/css/views/calendar.css">
        <link rel="stylesheet" href="/css/views/mytour.css">
        <link rel="stylesheet" href="/css/views/read.css">
        <link rel="stylesheet" href="/css/views/maps.css">
        <link rel="stylesheet" href="/css/views/tourlist.css">
        <link rel="stylesheet" href="/css/views/achievements.css">
        <link rel="stylesheet" href="/css/views/myhistory.css">


</head>

<body id="bodyForm">
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center" id="site-navbar-line">

                            <div class="col-10">
                                <a class="btn btn-primary px-4 py-2" id="status-event"></a>
                                <h2 class="mb-0 site-logo"></h2><a id="nav-title"></a></h2>
                            </div>
                            <div class="col-2">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">
                                        <!-- d-lg-none -->
                                        <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#"
                                                class="site-menu-toggle js-menu-toggle"><span
                                                    class="icon-menu h3"></span></a></div>
                                        <!-- d-lg-block -->
                                        <ul class="site-menu js-clone-nav d-none" id="nav">
                                            <% include ../nav/nav_case %>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <!-- <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:100%" id>11</div> -->
                    <div class="container text-center" id="statis-event-m"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-loading display-none">
        <div class="spinner-border text-primary display-none"></div>
    </div>

    <div class="site-section bg-light">
        <div class="container">

            <form class="p-5 bg-white">
                <div class="row">

                    <div class="form-group-view">

                        <div class="p-4 mb-3 bg-white">

                            <div class="form-img">
                                <div class="row">
                                    <div class="form-img">
                                        <div class="img-f"><img id="AJ_img"></div>
                                        <div id="img-name"></div>
                                    </div>

                                </div>


                                <div class="row icos">

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">업적 타입</h3>
                                            <a id="achievements" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">획득 포인트</h3>
                                            <a id="point" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">획득 경험치</h3>
                                            <a id="exp" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">지역</h3>
                                            <a id="address" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">획득인원</h3>
                                            <a id="usertotal" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">진행상황</h3>
                                            <a id="clearnumber" class="ico-a"></a>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12" id="button-div">
                                </div>

                                <div class="form-content">

                                    <div class="text-center form-info">
                                        <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">상</a><a
                                                class="second-a">세정보</a>
                                            <hr class="line-event">
                                        </h5>
                                    </div>

                                    <div id="content"></div>
                                </div>

                                <div class="form-content">

                                    <div class="text-center form-info">
                                        <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">도전</a><a
                                                class="second-a">리스트</a>
                                            <hr class="line-event">
                                        </h5>
                                    </div>

                                    <div id="getSubListForm"></div>
                                </div>

                                <div class="form-content">

                                    <div class="text-center form-info">
                                        <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">모</a><a
                                                class="second-a">임원</a>
                                            <hr class="line-event">
                                        </h5>
                                    </div>

                                    <div class="site-section bg-light" id="profileForm">
                                        <div class="container" id=boardForm>
                                            <div class="row col-md-12" id="post">
                                                <div class="site-section col-md-12 profileContainer" id="partyRow">
                                                    <div class="col-12" id="readItem">
                                                        <div class="readDiv3">
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-content">

                                    <div class="text-center form-info">
                                        <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">가</a><a
                                                class="second-a">까운 관광지</a>
                                            <hr class="line-event">
                                        </h5>
                                    </div>

                                    <div id="tourboardform"></div>
                                </div>


                            </div>
                        </div>


                    </div>

                    <div class="submit_div">
                        <div>
                            <a id="board-button" class="btn btn-primary px-4 py-2" href="/tourlist/">목록</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="cate-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle2">지도</h5>
                    <button type="button" class="close" id="close_popup3" data-dimiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row form-group" id="google-modal-form">
                    <div class="form-group" id="modal-info">
                    </div>
                    <div>
                        <h3 id="location_div"></h3>
                    </div>
                    <div>
                        <h3 id="local_div"></h3>
                    </div>
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
    </div>


</body>

<% include ../script/default %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr-r448ruHCKvwugrHq9nH2-SXqkj4u9M&libraries=places"
        async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>


    <script type="text/javascript">

        var loginStatus = "<%=loginStatus%>";
        var userId = "<%=userId%>";
        var userSEQ = "<%=userSeq%>";

        if (loginStatus == "true") {

            $("#navProfileName").text("<%=username%>");
            $("#profileImageNav").attr("src", "<%=userImg%>");
            $("#navProfileLevel").text("LEVEL : " +"<%=userLevel%>");
            $("#navProfileGold").text("GOLD : " +"<%=userGold%>");
        } else {
        }
        var no = "";
        var partyno = "<%=partyno%>";
        var content = "";
        var img_main = null;
        var img_thumnail = null;
        var startDate;
        var endDate;
        var nowDate;
        var writer;
        var today = new Date();
        var reservation;
        var title;
        var id_session;
        var href_link = null;
        var latX = null;
        var longY = null;
        var restCategoryTitle = [];
        var restCategoryCode = [];

        var scrapState = 0;

        var startD = "";
        var endD = "";
        var area = "";

        var addressSum = "";

        $(document)
            .ready(
                function () {
                    no = location.href
                        .substr(location.href.lastIndexOf('=') + 1);
                    $
                        .ajax({
                            url: "/achievements/getmypartyachievements",
                            data: { no: no },
                            dataType: "json",
                            type: "get",
                            success: function (data) {
                                var add = null;
                                $
                                    .each(
                                        data.rows,
                                        function (index, item) {
                                            document
                                                .getElementById("nav-title").innerHTML = item.TITLE;
                                            title = item.TITLE;
                                            document
                                                .getElementById("address").innerHTML = item.AREA;
                                            document
                                                .getElementById("location_div").innerHTML = item.AREA;

                                            add = item.AREA;
                                            addressSum = item.AREA;
                                            area = item.AREA;
                                            document
                                                .getElementById("AJ_img").src = item.MAIN_IMG;
                                            img_main = item.MAIN_IMG;
                                            $("#content").text(item.CONTENTS);
                                            $("#achievements").text(item.TYPE_NAME);
                                            $("#point").text(item.POINT);
                                            $("#exp").text(item.EXP);
                                            $("#usertotal").text(item.USERTOTAL);
                                            latX = parseFloat(item.LATITUDE);
                                            longY = parseFloat(item.LONGITUDE);
                                            is_complete = item.ISCOMPLETE;

                                            $.ajax({
                                                url: "/tourlist/getcategory",
                                                async: false,
                                                type: "get",
                                                success: function (data) {
                                                    $.each(data.rows, function (index, item) {

                                                        var cate = "<div id=\"catesection\">" +
                                                            "<button class=\"btn btn-primary locationBtn\" type=\"submit\" id=\"cateBtn" + item.SEQ + "\" style=\"background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(" + item.IMG + ");\">"
                                                            + item.CATEGORY + "</button></div>";
                                                        restCategoryCode.push(item.CODE);
                                                        restCategoryTitle.push(item.CATEGORY);
                                                        $("#cateForm").append(cate);

                                                        $("#cateBtn" + item.SEQ).click(function () {
                                                            $('#cateText').text(item.CATEGORY);
                                                            $('#myModal2').modal('hide');
                                                            category = item.CATEGORY;
                                                            categorycode = item.CODE;
                                                            count = 1;
                                                            if (areacode != null) {
                                                            }

                                                            searchTourlist();
                                                        });

                                                    });

                                                },
                                                beforeSend: function () {
                                                },
                                                complete: function () {

                                                }
                                            });

                                            $.ajax({
                                                url: "/tourlist/getneartour",
                                                data: {
                                                    "latX": latX,
                                                    "longY": longY
                                                },
                                                async: false,
                                                type: "get",
                                                success: function (data) {
                                                    var obj = JSON.parse(data);
                                                    $.each(obj.response.body.items.item,
                                                        function (index, item) {
                                                            if (item.firstimage == null || item.firstimage == "")
                                                                item.firstimage = 'https://static.thenounproject.com/png/220984-200.png';

                                                            $("#tourboardform").append(
                                                                "<div class=\"row tourlistDiv\" id = \"tourlistDiv" + item.contentid + "\">"
                                                                + "<div class = \"col-3\" id = \"tourImgDiv\">"
                                                                + "<img src=\"" + item.firstimage + "\" id=\"profileImage\"></div>"
                                                                + "<div class = \"col-9\" id=\"tourInfoDiv\"><div id=\"boardLine1\">"
                                                                + "<a><span>" + item.title + "</span><span class=\"text-right\" id=\"profileAge\">" + getRestCategoryTitle(item.contenttypeid) + "</span></a></div>"
                                                                + "<div id=\"boardLine2\" class=\"row\">"
                                                                + "<a class=\"col-12\"><span>" + item.addr1 + "</span></a>"
                                                                + "<a class=\"col-12\"><span>별점 : </span></a>"
                                                                + "</div></div></div><hr>"
                                                                + "");


                                                            $("#tourlistDiv" + item.contentid).click(function () {
                                                                location.href = "/tourlist/detail?no=" + item.contentid;
                                                            });



                                                        });
                                                    function getRestCategoryTitle(code) {
                                                        var i = restCategoryCode.indexOf(String(code));
                                                        return restCategoryTitle[i];
                                                    }
                                                },
                                                beforeSend: function () {
                                                },
                                                complete: function () {
                                                }
                                            });

                                            $.ajax({
                                                url: "/achievements/getachievementsubpartylist",
                                                data: { no: no, boardno: partyno },
                                                async: false,
                                                type: "get",
                                                success: function (data) {

                                                    var source = "<a id=\"get-achievement-button\" class=\"col-12 btn btn-primary px-4 py-2 board-button\"></a>";

                                                    $("#button-div").append(source);

                                                    //alert(data.TOTALCOUNT + " " + data.USERCOUNT);

                                                    if (data.TOTALCOUNT > data.USERCOUNT && data.USERCOUNT > 0) {
                                                        $("#get-achievement-button").text("도전 진행중");
                                                    }
                                                    else if (data.USERCOUNT == 0) {
                                                        $("#get-achievement-button").text("미획득");

                                                    }
                                                    else if (data.USERCOUNT >= data.TOTALCOUNT) {
                                                        $("#get-achievement-button").text("획득완료");
                                                        if (userSEQ == data.writer) {
                                                            alert("모든 도전을 진행하였습니다. 업적 획득 버튼을 눌러 업적을 획득하세요");
                                                            $("#get-achievement-button").text("업적 획득 하기");

                                                            $("#get-achievement-button").click(function () {
                                                                if (confirm("해당 도전을 획득하시겠습니까?") == true) {

                                                                    var allData = {
                                                                        "boardno": partyno,
                                                                        "no": no
                                                                    }
                                                                    $.ajax({
                                                                        url: "/achievements/insertsubpartyachievementsuccess",
                                                                        data: allData,
                                                                        async: false,
                                                                        type: "post",
                                                                        success: function (data) {
                                                                            if (data.result == true) {
                                                                                alert("해당 도전과제를 획득하였습니다.");
                                                                                location.reload();
                                                                            }
                                                                            else {
                                                                                alert("도전과제 달성에 실패 했습니다.");
                                                                            }
                                                                        },
                                                                        beforeSend: function () {
                                                                        },
                                                                        complete: function () {
                                                                        }
                                                                    });
                                                                }
                                                            });
                                                        }
                                                        else{
                                                        $("#get-achievement-button").text("도전 획득 대기");

                                                        };
                                                    }


                                                    $("#clearnumber").text(data.USERCOUNT + "/" + data.TOTALCOUNT);

                                                    $.each(data.queryresult, function (index, item) {

                                                        var source = "";
                                                        if (item.ISCOMPLETE) {
                                                            source =
                                                                "<div class=\"row achievementsSubSuccessItemDiv\" id = \"form-board" + item.SEQ + "\">"
                                                                + "<div id = \"achievementItem\">";
                                                            if (item.IMG != null) {
                                                                source += "<img src=\"" + item.IMG + "\" class=\"rounded-circle\" id=\"achievementsItemImage\"></img></div>"
                                                            }
                                                            else {
                                                                source += "<img src=\"" + item.MAIN_IMG + "\" class=\"rounded-circle\" id=\"achievementsItemImage\"></img></div>";
                                                            }
                                                            source +=
                                                                "<div id=\"achievementItemDiv2\">"
                                                                + "<div id=\"boardLine2\" class=\"row\">"
                                                                + "<a class=\"col-12\"><span>" + item.TITLE + "<span class=\"badge badge-danger\">" + item.MYCOMPLETEUSERCOUNT + "/" + item.LIMIT_USER + "</span><span class=\"text-right badge bg-info \" id=\"boardAchiveType\">" + area + "</span><span class=\"text-right badge bg-success\" id=\"boardAchiveType\">" + item.TYPE_NAME + "</span></span></a>"
                                                                + "<a class=\"col-12\"><span>" + item.SECRET_CONTENTS + "</a>";
                                                        }
                                                        else {
                                                            source =
                                                                "<div class=\"row achievementsSubFailedItemDiv\" id = \"form-board" + item.SEQ + "\">"
                                                                + "<div id = \"achievementItem\">"
                                                                + "<img src=\"" + "https://cdn4.iconfinder.com/data/icons/notifications-1/32/343-01-512.png" + "\" class=\"rounded-circle\" id=\"achievementsItemImage\"></img></div>"
                                                                + "<div id=\"achievementItemDiv2\">"
                                                                + "<div id=\"boardLine2\" class=\"row\">"
                                                                + "<a class=\"col-12\"><span>" + item.TITLE + "<span class=\"badge badge-danger\">" + item.MYCOMPLETEUSERCOUNT + "/" + item.LIMIT_USER + "</span><span class=\"text-right badge bg-info \" id=\"boardAchiveType\">" + area + "</span><span class=\"text-right badge bg-success\" id=\"boardAchiveType\">" + item.TYPE_NAME + "</span></span></a>"
                                                                + "<a class=\"col-12\"><span>" + item.SECRET_CONTENTS + "</a>";
                                                        }
                                                        source += "</div></div></div>";
                                                        $("#getSubListForm").append(source);

                                                        var modal_source =
                                                            "<div class=\"modal fade\" id=\"subModal" + item.SEQ + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"mySmallModalLabel\" aria-hidden=\"true\">" +
                                                            "<div class=\"modal-dialog modal-lg sub-modal\">" +
                                                            "<div class=\"modal-content\">" +
                                                            "<div class=\"modal-header\">" +
                                                            "<h5 class=\"modal-title\" id=\"modalTitle2\">" + item.TITLE + "<span class=\"badge badge-danger\">" + item.MYCOMPLETEUSERCOUNT + "/" + item.LIMIT_USER + "</span><span class=\"text-right badge bg-info \" id=\"boardAchiveType\">" + area + "</span><span class=\"text-right badge bg-success\" id=\"boardAchiveType\">" + item.TYPE_NAME + "</span></a>"
                                                        "<button type=\"button\" class=\"close\" id=\"close_subpop" + item.SEQ + "\" data-dimiss=\"modal\" aria-label=\"Close\">" +
                                                            "<span aria-hidden=\"true\">&times;</span></button></div>" +
                                                            "<div class=\"row form-group\">" +
                                                            "<div class=\"form-group\" id=\"modal-info\"></div>";
                                                        if ((!item.ISCOMPLETE && item.TYPE == 1) && (item.LIMIT_USER > item.MYCOMPLETEUSERCOUNT)) {
                                                            modal_source +=
                                                                "<div class = \"col-12\"><img class =\"modal-sub-img\" src=\"" + "https://cdn4.iconfinder.com/data/icons/notifications-1/32/343-01-512.png" + "\"></div>" +
                                                                "<div class = \"col-12\"><h5 id=\"location_div\">" + item.SECRET_CONTENTS + "</h5> </div>" +
                                                                "<div class=\"col-12\"><a id=\"achievement-sub-button" + item.SEQ + "\" class=\"col-12 btn btn-primary px-4 py-2 get-achievement-button\">도전하기</a></div>";
                                                        }
                                                        else if ((!item.ISCOMPLETE && item.TYPE == 5) && (item.LIMIT_USER > item.MYCOMPLETEUSERCOUNT)) {

                                                            modal_source +=
                                                                "<div class = \"col-12\"><img class =\"modal-sub-img\" src=\"" + "https://cdn4.iconfinder.com/data/icons/notifications-1/32/343-01-512.png" + "\"></div>" +
                                                                "<div class = \"col-12\"><h5 id=\"location_div\">" + item.SECRET_CONTENTS + "</h5> </div>" +
                                                                "<div class=\"main-img-modal-div col-12\">" +
                                                                "<label for=\"main_img_label\">사진 첨부</label>" +
                                                                "<input type=\"file\" id=\"img_main" + item.SEQ + "\" name=\"img_main\" filestyle input=\"\" type=\"file\"" +
                                                                "data-class-button=\"btn btn-default\" data-class-input=\"form-control\" data-button-text=\"\"" +
                                                                "data-icon-name=\"fa fa-upload\" class=\"form-control\" tabindex=\"-1\" accept=\"image/*\" /></div>" +
                                                                "<div class=\"col-12\"><a id=\"achievement-sub-button" + item.SEQ + "\" class=\"col-12 btn btn-primary px-4 py-2 get-achievement-button\">사진 업로드</a></div>";
                                                        }
                                                        else if ((item.ISCOMPLETE && item.TYPE == 5 && item.IMG != null) || (item.LIMIT_USER <= item.MYCOMPLETEUSERCOUNT && item.IMG != null)) {
                                                            modal_source +=
                                                                "<div class = \"col-12\"><img class =\"modal-sub-img\" src=\"" + item.IMG + "\"></div>" +
                                                                "<div class = \"col-12\"><h5 id=\"location_div\">" + item.CONTENTS + "</h5> </div>";
                                                        }
                                                        else {
                                                            modal_source +=
                                                                "<div class = \"col-12\"><img class =\"modal-sub-img\" src=\"" + item.MAIN_IMG + "\"></div>" +
                                                                "<div class = \"col-12\"><h5 id=\"location_div\">" + item.CONTENTS + "</h5> </div>";
                                                        }
                                                        modal_source +=
                                                            "<div id=\"usercompletedata\"><div class = \"successsublistusermodal\">도전 완료 모임원 <br></div>";

                                                        for (var i = 0; i < data.userresult.length; i++) {
                                                            if (data.userresult[i].SUB_ACHIEVEMENT_SEQ == item.SEQ) {
                                                                modal_source += "<div class=\"row miniprofileclass\" id=\"profile" + data.userresult[i].USER_SEQ + "\">" +
                                                                    "<div class=\"profileDiv\">" +
                                                                    "<img src=\"" + data.userresult[i].IMG + "\" class=\"rounded-circle miniprofileImage\">" +
                                                                    "</div>" +
                                                                    "<div class=\"miniprofileDiv2\">" +
                                                                    "<div id=\"boardLine1\">" +
                                                                    "<a><span class=\"profileName\">" + data.userresult[i].NAME + "</span></a>" +
                                                                    "</div></div></div>";
                                                            }

                                                        }

                                                        modal_source += "</div>";


                                                        for (var i = 0; i < data.photoresult.length; i++) {
                                                            if (data.photoresult[i].SUB_ACHIEVEMENT_SEQ == item.SEQ) {
                                                                modal_source +=
                                                                    "<div class=\"col-12\">" +
                                                                    "<img class = \"submodalimglist\" src=\"" + data.photoresult[i].IMG +
                                                                    "\"></div>";
                                                            }
                                                        }


                                                        modal_source += "</div></div></div>";

                                                        $("#bodyForm").append(modal_source);

                                                        $("#form-board" + item.SEQ).click(function () {
                                                            $('#subModal' + item.SEQ).modal('show');
                                                        });
                                                        $("#close_subpop" + item.SEQ).click(function () {
                                                            $('#subModal' + item.SEQ).modal('hide');
                                                        });

                                                        $("#achievement-sub-button" + item.SEQ).click(function () {
                                                            if (confirm(item.TITLE + " 도전을 진행 하시겠습니까?") == true) {

                                                                var latitude;
                                                                var longitude;

                                                                if (item.TYPE == 1) {
                                                                    if (navigator.geolocation) {
                                                                        navigator.geolocation.getCurrentPosition(function (position) {
                                                                            latitude = position.coords.latitude;
                                                                            longitude = position.coords.longitude;
                                                                            alert(position.coords.accuracy);
                                                                            var allData = {
                                                                                "userLat": latitude,
                                                                                "userLong": longitude,
                                                                                "no": no,
                                                                                "subNo": item.SEQ,
                                                                                "boardno": partyno
                                                                            }
                                                                            $.ajax({
                                                                                url: "/achievements/issubpartyachievementsuccess",
                                                                                data: allData,
                                                                                async: false,
                                                                                type: "get",
                                                                                success: function (data) {
                                                                                    if (data.result == true) {
                                                                                        alert("현재 도전과제 위치에 있습니다.");
                                                                                        alert(data.distance + "만큼 차이나는 위치에 있습니다.");
                                                                                        alert("도전과제 업적을 획득했습니다.");
                                                                                        location.reload();
                                                                                    }
                                                                                    else {
                                                                                        alert("도전과제 달성에 실패 했습니다.");
                                                                                    }
                                                                                },
                                                                                beforeSend: function () {
                                                                                },
                                                                                complete: function () {
                                                                                }
                                                                            });
                                                                        });
                                                                    }
                                                                    else {
                                                                        alert("현재 위치를 확인 할 수 없습니다");
                                                                    }
                                                                }
                                                                else if (item.TYPE == 5) {
                                                                    if ($("#img_main" + item.SEQ).val() == null || $("#img_main" + item.SEQ).val() == "") {
                                                                        alert("사진을 첨부해 주세요");
                                                                    }
                                                                    else {
                                                                        var formData = new FormData();

                                                                        formData.append("img_main", $("#img_main" + item.SEQ)[0].files[0]);
                                                                        var img_main_url;
                                                                        var img_main_val1 = false;

                                                                        var uploadImgCount = 0;
                                                                        var imgElem = document.getElementById("img_main" + item.SEQ).files[0];
                                                                        imgElem.exifdata = null; // 같은 페이지 안에서 이미지가 바뀌는 경우 이전의 메타데이터 정보를 지워주어야 함.
                                                                        EXIF.getData(imgElem, function () {
                                                                            var allMetaData = EXIF.getAllTags(this); //모든 EXIF정보
                                                                            var exifLong = EXIF.getTag(this, "GPSLongitude");
                                                                            console.log(exifLong);
                                                                            var exifLat = EXIF.getTag(this, "GPSLatitude");
                                                                            var exifLongRef = EXIF.getTag(this, "GPSLongitudeRef");
                                                                            var exifLatRef = EXIF.getTag(this, "GPSLatitudeRef");
                                                                            //계산식 적용이유는 해당라이브러리가 위도경도를 도분초 단위로 출력하기 때문
                                                                            if (exifLatRef == "S") {
                                                                                latitude = (exifLat[0] * -1) + (((exifLat[1] * -60) + (exifLat[2] * -1)) / 3600);
                                                                            } else {
                                                                                latitude = exifLat[0] + (((exifLat[1] * 60) + exifLat[2]) / 3600);
                                                                            }

                                                                            if (exifLongRef == "W") {
                                                                                longitude = (exifLong[0] * -1) + (((exifLong[1] * -60) + (exifLong[2] * -1)) / 3600);
                                                                            } else {
                                                                                longitude = exifLong[0] + (((exifLong[1] * 60) + exifLong[2]) / 3600);
                                                                            }

                                                                            var latX = latitude;
                                                                            var longY = longitude;

                                                                            var myLatLng = { lat: latX, lng: longY };

                                                                            if (latX == null || longY == null || latX == "" || longY == "") {
                                                                                alert('사진에 위치 데이터가 없습니다.');

                                                                            } else {
                                                                                var allData = {
                                                                                    "userLat": latX,
                                                                                    "userLong": longY,
                                                                                    "no": no,
                                                                                    "subNo": item.SEQ,
                                                                                    "boardno": partyno
                                                                                }
                                                                                $.ajax({
                                                                                    url: "/achievements/checksubpartyachievementpicsuccess",
                                                                                    data: allData,
                                                                                    async: false,
                                                                                    type: "get",
                                                                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                                                                    success: function (data) {
                                                                                        if (data['result'] == false) {
                                                                                            alert("도전 위치가 아닙니다.");
                                                                                        } else if (data['result'] == true) {
                                                                                            $.ajax({
                                                                                                url: '/upload/uploadachievementpic',
                                                                                                type: 'POST',
                                                                                                contentType: false,
                                                                                                processData: false,
                                                                                                cache: false,
                                                                                                data: formData,
                                                                                                success: function (res) {
                                                                                                    var allData = {
                                                                                                        "no": no,
                                                                                                        "subNo": item.SEQ,
                                                                                                        "img1": res['result']['img_main'][0].location,
                                                                                                        "boardno": partyno
                                                                                                    };

                                                                                                    $.ajax({
                                                                                                        url: "/achievements/issubpartyachievementsuccesspic",
                                                                                                        data: allData,
                                                                                                        async: false,
                                                                                                        type: "post",
                                                                                                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                                                                                        success: function (data) {
                                                                                                            if (data['result'] == 'null') {
                                                                                                                alert("오류가 발생하였습니다.");
                                                                                                            } else {
                                                                                                                alert("해당 도전을 성공하였습니다.");
                                                                                                                //location.reload();
                                                                                                            }
                                                                                                        },
                                                                                                        beforeSend: function () {
                                                                                                        },
                                                                                                        complete: function () {
                                                                                                        }
                                                                                                    });
                                                                                                },
                                                                                                error: function () {
                                                                                                    alert('오류가 발생하였습니다. 관리자에게 문의해 주세요');
                                                                                                }
                                                                                            });
                                                                                        }
                                                                                    },
                                                                                    beforeSend: function () {
                                                                                    },
                                                                                    complete: function () {
                                                                                    }
                                                                                });
                                                                            }
                                                                        });
                                                                    }
                                                                }
                                                            }
                                                        });
                                                    });
                                                },
                                                beforeSend: function () {
                                                },
                                                complete: function () {
                                                }
                                            });


                                            $.ajax({
                                                url: "/board/getwriterinfono",
                                                data: { "no": partyno },
                                                async: false,
                                                type: "get",
                                                success: function (data) {
                                                    if (data['result'] == true) {
                                                        $.each(data.rows, function (index, item) {

                                                            var profileSource = "<div class=\"row miniprofileclass\" id=\"profile" + item.SEQ + "\">" +
                                                                "<div class=\"profileDiv\">" +
                                                                "<img src=" + item.IMG + " class=\"rounded-circle miniprofileImage\">" +
                                                                "</div>" +
                                                                "<div class=\"miniprofileDiv2\">" +
                                                                "<div id=\"boardLine1\">" +
                                                                "<a><span class=\"profileName\">" + item.NAME + "</span><span class=\"text-right badge bg-info \" id=\"writerspan\">작성자</a>" +
                                                                "<a><span class=\"profileAge\">" + getAge(item.BIRTHDAY) + "세 " + getGender(item.GENDER) + "</span></a>"
                                                            "</div></div></div>";
                                                            $("#partyRow").append(profileSource);

                                                            $("#profile" + item.SEQ).click(function () {
                                                                location.href = "../users/profile?id=" + item.SEQ;
                                                            });
                                                        });
                                                    }

                                                },
                                                beforeSend: function () {
                                                },
                                                complete: function () {
                                                }
                                            });

                                            $.ajax({
                                                url: "/board/getallattenduserstate",
                                                data: { "boardId": partyno },
                                                async: false,
                                                type: "get",
                                                success: function (data) {
                                                    if (data['result'] == true) {
                                                        $.each(data.rows, function (index, item) {
                                                            if (item.ATTEND_STATE == 1) {

                                                                var profileSource = "<div class=\"row miniprofileclass\" id=\"profile" + item.SEQ + "\">" +
                                                                    "<div class=\"profileDiv\">" +
                                                                    "<img src=" + item.IMG + " class=\"rounded-circle miniprofileImage\">" +
                                                                    "</div>" +
                                                                    "<div class=\"miniprofileDiv2\">" +
                                                                    "<div id=\"boardLine1\">" +
                                                                    "<a><span class=\"profileName\">" + item.NAME + "</span></a>" +
                                                                    "<a><span class=\"profileAge\">" + getAge(item.BIRTHDAY) + "세 " + getGender(item.GENDER) + "</span></a>"
                                                                "</div></div></div>";
                                                                $("#partyRow").append(profileSource);

                                                                $("#profile" + item.SEQ).click(function () {
                                                                    location.href = "../users/profile?id=" + item.SEQ;
                                                                });
                                                            }
                                                        });
                                                    };
                                                },
                                                beforeSend: function () {
                                                },
                                                complete: function () {
                                                }
                                            });

                                            $("#close_popup").click(function () {
                                                $('#myModal').modal('hide');
                                            });
                                        });
                            },
                            beforeSend: function () {
                            },
                            complete: function () {
                            }
                        });


                    function openTransport() {
                        $('#transportModal').modal('show');
                    }

                    function openLink() {
                        if (href_link != null) {
                            location.href = href_link;
                        }
                    }
                    // maxLengthCheck
                    function maxLengthCheck(object) {
                        if (object.value.length > object.maxLength) {
                            object.value = object.value.slice(0, object.maxLength);
                        }
                    }


                    function getAge(userAge) {
                        var nowDay = new Date();
                        var birthday = new Date(userAge);


                        var age = nowDay.getFullYear() - birthday.getFullYear();
                        var month = nowDay.getMonth() - birthday.getMonth();

                        return month < 0 || (month === 0 && nowDay.getDate() < birthday.getDate()) ?
                            age : age + 1
                    }

                    function getGender(userGender) {
                        if (userGender == "male") {
                            return "남";
                        } else if (userGender == "female") {
                            return "여";
                        } else {
                            return "미상";
                        }
                    }
                });



    </script>

</html>