<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">


    <% include ../css/default %>
        <link rel="stylesheet" href="/css/views/noncover.css">
        <link rel="stylesheet" href="/css/views/writepost.css">
        <link rel="stylesheet" href="/css/views/search.css">
        <link rel="stylesheet" href="/css/views/calendar.css">
        <link rel="stylesheet" href="/css/views/mytour.css">
        <link rel="stylesheet" href="/css/views/read.css">
        <link rel="stylesheet" href="/css/views/maps.css">
        <link rel="stylesheet" href="/css/views/tourlist.css">
        <link rel="stylesheet" href="/css/views/achievements.css">


</head>

<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center" id="site-navbar-line">

                            <div class="col-10">
                                <a class="btn btn-primary px-4 py-2" id="status-event"></a>
                                <h2 class="mb-0 site-logo"></h2><a id="nav-title"></a></h2>
                            </div>
                            <div class="col-2">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">
                                        <!-- d-lg-none -->
                                        <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#"
                                                class="site-menu-toggle js-menu-toggle"><span
                                                    class="icon-menu h3"></span></a></div>
                                        <!-- d-lg-block -->
                                        <ul class="site-menu js-clone-nav d-none" id="nav">
                                            <% include ../nav/nav_case %>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="progress">
                    <!-- <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:100%" id>11</div> -->
                    <div class="container text-center" id="statis-event-m"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-loading display-none">
        <div class="spinner-border text-primary display-none"></div>
    </div>

    <div class="site-section bg-light">
        <div class="container">

            <form class="p-5 bg-white">
                <div class="row">

                    <div class="form-group-view">

                        <div class="p-4 mb-3 bg-white">

                            <div class="form-img">
                                <div class="row">
                                    <div class="form-img">
                                        <div class="img-f"><img id="AJ_img"></div>
                                        <div id="img-name"></div>
                                    </div>

                                </div>


                                <div class="row icos">

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">업적 타입</h3>
                                            <a id="achievements" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">획득 포인트</h3>
                                            <a id="point" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">획득 경험치</h3>
                                            <a id="exp" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">지역</h3>
                                            <a id="address" class="ico-a"></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <div class="ico-m">
                                            <span class="icon-map text-white h2 d-block"></span>
                                            <h3 class="table-h3">획득인원</h3>
                                            <a id="usertotal" class="ico-a"></a>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12" id="button-div">
                                    <a id="get-achievement-button"
                                        class="col-12 btn btn-primary px-4 py-2 board-button">
                                        <% if (loginStatus){ %>
                                            <%=applyBtnText%>
                                                <% }else { %>
                                                    <%=applyBtnText%>
                                                        <% } %>
                                    </a>
                                </div>

                                <div class="form-content">

                                    <div class="text-center form-info">
                                        <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">상</a><a
                                                class="second-a">세정보</a>
                                            <hr class="line-event">
                                        </h5>
                                    </div>

                                    <div id="content"></div>
                                </div>

                                <div class="form-content">

                                    <div class="text-center form-info">
                                        <h5 class="mb-5 text-uppercase" id="content-info"><a class="first-a">가</a><a
                                                class="second-a">까운 관광지</a>
                                            <hr class="line-event">
                                        </h5>
                                    </div>

                                    <div id="tourboardform"></div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="submit_div">
                        <div>
                            <a id="board-button" class="btn btn-primary px-4 py-2" href="/tourlist/">목록</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="cate-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle2">지도</h5>
                    <button type="button" class="close" id="close_popup3" data-dimiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row form-group" id="google-modal-form">
                    <div class="form-group" id="modal-info">
                    </div>
                    <div>
                        <h3 id="location_div"></h3>
                    </div>
                    <div>
                        <h3 id="local_div"></h3>
                    </div>
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="photomodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="cate-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle2">사진 업로드</h5>
                    <button type="button" class="close" id="close_popup_photo" data-dimiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row form-group">
                    <div class="main-img-modal-div">
                        <label for="main_img_label">사진 첨부</label>
                        <input type="file" id="img_main" name="img_main" filestyle input="" type="file"
                            data-class-button="btn btn-default" data-class-input="form-control" data-button-text=""
                            data-icon-name="fa fa-upload" class="form-control" tabindex="-1" accept="image/*" />
                    </div>

                    <div class="col-12" id="upload-div">
                        <a id="upload-btn" class="col-12 btn btn-primary px-4 py-2">
                            전송
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="photosuccessmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="cate-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle2">사진</h5>
                    <button type="button" class="close" id="close_popup_photo_success" data-dimiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row form-group">
                    <img id="getmyimg">
                </div>
            </div>
        </div>
    </div>


</body>

<% include ../script/default %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr-r448ruHCKvwugrHq9nH2-SXqkj4u9M&libraries=places"
        async defer></script>

    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>


    <script type="text/javascript">

        var loginStatus = "<%=loginStatus%>";
        var userId = "<%=userId%>";

        if (loginStatus == "true") {

            $("#navProfileName").text("<%=username%>");
            $("#profileImageNav").attr("src", "<%=userImg%>");
        } else {
        }
        var no = "";
        var content = "";
        var img_main = null;
        var img_thumnail = null;
        var startDate;
        var endDate;
        var nowDate;
        var writer;
        var today = new Date();
        var reservation;
        var title;
        var id_session;
        var href_link = null;
        var achievement_latX = null;
        var achievement_longY = null;
        var restCategoryTitle = [];
        var restCategoryCode = [];

        var scrapState = 0;

        var startD = "";
        var endD = "";

        var addressSum = "";

        $(document)
            .ready(
                function () {
                    no = location.href
                        .substr(location.href.lastIndexOf('=') + 1);
                    $
                        .ajax({
                            url: "/achievements/getachievements",
                            data: { no: no },
                            dataType: "json",
                            type: "get",
                            success: function (data) {
                                var add = null;
                                $
                                    .each(
                                        data.rows,
                                        function (index, item) {
                                            document
                                                .getElementById("nav-title").innerHTML = item.TITLE;
                                            title = item.TITLE;
                                            document
                                                .getElementById("address").innerHTML = item.AREA;
                                            document
                                                .getElementById("location_div").innerHTML = item.AREA;

                                            add = item.AREA;
                                            addressSum = item.AREA;
                                            document
                                                .getElementById("AJ_img").src = item.MAIN_IMG;
                                            img_main = item.MAIN_IMG;
                                            $("#content").text(item.CONTENTS);
                                            $("#achievements").text(item.TYPE_NAME);
                                            $("#point").text(item.POINT);
                                            $("#exp").text(item.EXP);
                                            $("#usertotal").text(item.USERTOTAL);
                                            achievement_latX = parseFloat(item.LATITUDE);
                                            achievement_longY = parseFloat(item.LONGITUDE);
                                            if (item.ISCOMPLETE) {
                                                $("#status-event").css({
                                                    'background': '#f23a2e',
                                                    'border-color': '#f23a2e'
                                                });
                                                $("#status-event").text("획득완료");
                                                $("#statis-event-m").css({
                                                    'background': '#f23a2e',
                                                    'border-color': '#f23a2e'
                                                });
                                                $("#statis-event-m").text("획득한 업적 입니다");


                                                $("#get-achievement-button").text("획득한 업적 입니다");
                                                $("#get-achievement-button").click(function () {
                                                    $('#photosuccessmodal').modal('show');
                                                    $.ajax({
                                                        url: "/achievements/getachievementspic",
                                                        data: { no: no },
                                                        async: false,
                                                        type: "get",
                                                        success: function (data) {
                                                            var add = null;
                                                            $.each(data.rows,function (index, item) {
                                                            
                                                                $("#getmyimg").attr("src", item.IMG);
                                                                
                                                            });
                                                        },
                                                        beforeSend: function () {
                                                        },
                                                        complete: function () {
                                                        }
                                                    });

                                                });
                                            }
                                            else {
                                                $("#tourboardDiv").remove();

                                                $("#status-event").css({
                                                    'background': 'midnightblue',
                                                    'border-color': 'midnightblue'
                                                });
                                                $("#status-event").text("미획득");
                                                $("#statis-event-m").css({
                                                    'background': 'midnightblue',
                                                    'border-color': 'midnightblue'
                                                });
                                                $("#statis-event-m")
                                                    .text("획득하지 못한 업적입니다");

                                                $("#get-achievement-button").click(function () {
                                                    $('#photomodal').modal('show');
                                                });

                                                $("#upload-btn").click(function () {
                                                    if ($("#img_main").val() == null || $("#img_main").val() == "") {
                                                        alert("사진을 첨부해 주세요");
                                                    }
                                                    else {
                                                        var formData = new FormData();

                                                        formData.append("img_main", $("#img_main")[0].files[0]);
                                                        var img_main_url;
                                                        var img_main_val1 = false;

                                                        var uploadImgCount = 0;
                                                        var imgElem = document.getElementById("img_main").files[0];
                                                        imgElem.exifdata = null; // 같은 페이지 안에서 이미지가 바뀌는 경우 이전의 메타데이터 정보를 지워주어야 함.
                                                        EXIF.getData(imgElem, function () {
                                                            var allMetaData = EXIF.getAllTags(this); //모든 EXIF정보
                                                            var exifLong = EXIF.getTag(this, "GPSLongitude");
                                                            console.log(exifLong);
                                                            var exifLat = EXIF.getTag(this, "GPSLatitude");
                                                            var exifLongRef = EXIF.getTag(this, "GPSLongitudeRef");
                                                            var exifLatRef = EXIF.getTag(this, "GPSLatitudeRef");
                                                            //계산식 적용이유는 해당라이브러리가 위도경도를 도분초 단위로 출력하기 때문
                                                            if (exifLatRef == "S") {
                                                                var latitude = (exifLat[0] * -1) + (((exifLat[1] * -60) + (exifLat[2] * -1)) / 3600);
                                                            } else {
                                                                var latitude = exifLat[0] + (((exifLat[1] * 60) + exifLat[2]) / 3600);
                                                            }

                                                            if (exifLongRef == "W") {
                                                                var longitude = (exifLong[0] * -1) + (((exifLong[1] * -60) + (exifLong[2] * -1)) / 3600);
                                                            } else {
                                                                var longitude = exifLong[0] + (((exifLong[1] * 60) + exifLong[2]) / 3600);
                                                            }

                                                            var latX = latitude;
                                                            var longY = longitude;

                                                            var myLatLng = { lat: latX, lng: longY };

                                                            if (latX == null || longY == null || latX == "" || longY == "") {
                                                                alert('사진에 위치 데이터가 없습니다.');

                                                            } else {
                                                                var distance = getDistanceFromLatLonInKm(latX, longY, achievement_latX, achievement_longY);
                                                                if (distance < 0.1 && distance > 0) {
                                                                    alert("해당 업적 획득 위치의 사진입니다. 거리는 " + distance + "km 입니다");
                                                                    $.ajax({
                                                                        url: '/upload/uploadachievementpic',
                                                                        type: 'POST',
                                                                        contentType: false,
                                                                        processData: false,
                                                                        cache: false,
                                                                        data: formData,
                                                                        success: function (res) {
                                                                            var allData = {
                                                                                "no": no,
                                                                                "img1": res['result']['img_main'][0].location
                                                                            };

                                                                            $.ajax({
                                                                                url: "/achievements/isachievementsuccesspic",
                                                                                data: allData,
                                                                                async: false,
                                                                                type: "post",
                                                                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                                                                success: function (data) {
                                                                                    if (data['result'] == 'null') {
                                                                                        alert("오류가 발생하였습니다.");
                                                                                    } else {
                                                                                        alert("업적 달성에 성공하였습니다.");
                                                                                        location.reload();
                                                                                    }
                                                                                },
                                                                                beforeSend: function () {
                                                                                },
                                                                                complete: function () {
                                                                                }
                                                                            });
                                                                        },
                                                                        error: function () {
                                                                            alert('오류가 발생하였습니다. 관리자에게 문의해 주세요');
                                                                        }
                                                                    });

                                                                }
                                                                else {
                                                                    alert("해당 업적 획득 위치와 맞지않는 사진 입니다. 거리는 " + distance + "km 입니다");
                                                                }
                                                            }
                                                        });
                                                    }
                                                });
                                            }
                                        });



                                $("#address").click(function () {
                                    $('#myModal3').modal('show');
                                });

                                $("#close_popup3").click(function () {

                                    $('#myModal3').modal('hide');
                                });
                                $("#myModal3").on("shown.bs.modal", function () {

                                    var myLatLng = { lat: latX, lng: longY };

                                    if (latX == null || longY == null || latX == "" || longY == "") {

                                    } else {
                                        var map_options = {
                                            center: { lat: latX, lng: longY },
                                            zoom: 17,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };
                                        var map = new google.maps.Map(document.getElementById("map_canvas"), map_options);

                                        var defaultBounds = new google.maps.LatLngBounds(
                                            new google.maps.LatLng(myLatLng.lat),
                                            new google.maps.LatLng(myLatLng.lng)
                                        );

                                        var marker = new google.maps.Marker({
                                            position: myLatLng,
                                            map: map,
                                            title: 'Hello World!'
                                        });
                                    }

                                });
                                $("#myModal3").on("hidden.bs.modal", function () { $("#googleMap").empty(); });


                                $.ajax({
                                    url: "/tourlist/getcategory",
                                    async: false,
                                    type: "get",
                                    success: function (data) {
                                        $.each(data.rows, function (index, item) {

                                            var cate = "<div id=\"catesection\">" +
                                                "<button class=\"btn btn-primary locationBtn\" type=\"submit\" id=\"cateBtn" + item.SEQ + "\" style=\"background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(" + item.IMG + ");\">"
                                                + item.CATEGORY + "</button></div>";
                                            restCategoryCode.push(item.CODE);
                                            restCategoryTitle.push(item.CATEGORY);
                                            $("#cateForm").append(cate);

                                            $("#cateBtn" + item.SEQ).click(function () {
                                                $('#cateText').text(item.CATEGORY);
                                                $('#myModal2').modal('hide');
                                                category = item.CATEGORY;
                                                categorycode = item.CODE;
                                                count = 1;
                                                if (areacode != null) {
                                                }

                                                searchTourlist();
                                            });

                                        });

                                    },
                                    beforeSend: function () {
                                    },
                                    complete: function () {

                                    }
                                });

                                $.ajax({
                                    url: "/tourlist/getneartour",
                                    data: {
                                        "latX": achievement_latX,
                                        "longY": achievement_longY
                                    },
                                    async: false,
                                    type: "get",
                                    success: function (data) {
                                        var obj = JSON.parse(data);
                                        $.each(obj.response.body.items.item,
                                            function (index, item) {
                                                if (item.firstimage == null || item.firstimage == "")
                                                    item.firstimage = 'https://static.thenounproject.com/png/220984-200.png';

                                                $("#tourboardform").append(
                                                    "<div class=\"row tourlistDiv\" id = \"tourlistDiv" + item.contentid + "\">"
                                                    + "<div class = \"col-3\" id = \"tourImgDiv\">"
                                                    + "<img src=\"" + item.firstimage + "\" id=\"profileImage\"></div>"
                                                    + "<div class = \"col-9\" id=\"tourInfoDiv\"><div id=\"boardLine1\">"
                                                    + "<a><span>" + item.title + "</span><span class=\"text-right\" id=\"profileAge\">" + getRestCategoryTitle(item.contenttypeid) + "</span></a></div>"
                                                    + "<div id=\"boardLine2\" class=\"row\">"
                                                    + "<a class=\"col-12\"><span>" + item.addr1 + "</span></a>"
                                                    + "<a class=\"col-12\"><span>별점 : </span></a>"
                                                    + "</div></div></div><hr>"
                                                    + "");


                                                $("#tourlistDiv" + item.contentid).click(function () {
                                                    location.href = "/tourlist/detail?no=" + item.contentid;
                                                });



                                            });
                                        function getRestCategoryTitle(code) {
                                            var i = restCategoryCode.indexOf(String(code));
                                            return restCategoryTitle[i];
                                        }
                                    },
                                    beforeSend: function () {
                                    },
                                    complete: function () {
                                    }
                                });

                            },
                            beforeSend: function () {
                                $('.spinner-border').removeClass(
                                    'display-none');
                                $('.wrap-loading').removeClass(
                                    'display-none');
                            },
                            complete: function () {

                                $('.spinner-border').addClass(
                                    'display-none');
                                $('.wrap-loading').addClass('display-none');
                            }
                        });
                    $("#close_popup").click(function () {
                        $('#myModal').modal('hide');
                    });

                    $("#close_popup_photo").click(function () {
                        $('#photomodal').modal('hide');
                    });

                    $("#close_popup_photo_success").click(function () {
                        $('#photosuccessmodal').modal('hide');
                    });
                });

        function openTransport() {
            $('#transportModal').modal('show');
        }

        function openLink() {
            if (href_link != null) {
                location.href = href_link;
            }
        }
        // maxLengthCheck
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength) {
                object.value = object.value.slice(0, object.maxLength);
            }
        }

        function getDistanceFromLatLonInKm(lat1, lng1, lat2, lng2) {
            function deg2rad(deg) {
                return deg * (Math.PI / 180)
            }
            var R = 6371;
            var dLat = deg2rad(lat2 - lat1);
            var dLon = deg2rad(lng2 - lng1);
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) + Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c; // Distance in km 
            return d;
        }



    </script>

</html>