<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no user-scalable=0">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/css/timedropper.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css">

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">

  <link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">

  <link rel="stylesheet" href="/css/views/style.css">
  <link rel="stylesheet" href="/css/views/main.css">
  <link rel="stylesheet" href="/css/views/noncover.css">
  <link rel="stylesheet" href="/css/views/writepost.css">
  <link rel="stylesheet" href="/css/views/calendar.css">
  <link rel="stylesheet" href="/css/views/slider.css">
  <link rel="stylesheet" href="/css/views/maps.css">
</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-settings js-menu-toggle"></span>
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!--상단바-->
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#"
                  class="site-menu-toggle js-menu-toggle"><span class="icon-arrow_back h3" id="nav-back"></span></a><h2 class="mb-0 site-logo"></h2><a id="none-nav-title"><%= title %></a></h2></div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="site-section bg-light">
    <div class="container" id="writeForm">
      <div class="row" id="writeRow">
        <div id="write-form" class="col-lg-12">
            <!--자동수락 선택 버튼-->
            <a id="attendCetion" class="col-12"><%=attendText%></a>
            <div class="col-12">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="attend-div">
              <label class="btn btn-danger">
                <input type="radio" name="autoparticipation" id="re-radio1" value="1"><%=attendText1%>
              </label>
              <label class="btn btn-danger">
                <input type="radio" name="autoparticipation" id="re-radio2" value="0"><%=attendText2%>
              </label>
            </div>
            </div>
            <hr>

        
          <div class="form-group">
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText9%></div>
              <div class="writeDiv2"><input type="text" id="titleText" class="writeInput" maxlength="64" onblur="inputLengthCheck(this);"></div>
            </div>
            <hr>
            <div class="col-12" id="writeContent">
              <textarea class="form-control" id="contentText" placeholder="<%=writeText10%>" maxlength="5000" onblur="inputLengthCheck(this);"></textarea>
            </div>
            <hr>
          <div class="col-12 dropdownIconDiv" id="infoDiv1">
            <a id="attendCetion" class="col-12"><%=moreinfoText%></a>
            <img class="dropdownIcon text-center" id="hide-writeform" src = "<%=dropdown%>">
          </div>
          <hr>
          <div class="form-group" id="write-form-tag">
            <!--입력 폼-->
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText1%></div>
              <div class="writeDiv2" id="locationText"><%=locationText%></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText2%></div>
              <div class="writeDiv2" id="cateText"><%=cateText%></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText3%></div>
              <div class="writeDiv2"><input type="text" id="meetDateText" class="writeInput"></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText4%></div>
              <div class="writeDiv2"><input type="text" id="meetTimeText" class="writeInput"></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText5%></div>
              <div class="writeDiv2"><input type="number" id="headCountText" class="writeInput" onblur="numberLengthCheck(this)"></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText6%></div>
              <div class="writeDiv2"><input type="text" id="placeText" class="writeInput" maxlength="300" onblur="inputLengthCheck(this);"></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText7%></div>
              <div class="writeDiv2"><input type="text" id="sourceText" class="writeInput" maxlength="600" onblur="inputLengthCheck(this);"></div>
            </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=writeText8%></div>
              <div class="writeDiv2"><input type="text" id="contactText" class="writeInput" maxlength="128" onblur="inputLengthCheck(this);"></div>
            </div>
            <hr>
            
          </div>
          <div class="col-12 dropdownIconDiv" id="infoDiv2">
            <a id="attendCetion" class="col-12"><%=filterText%></a>
            <img class="dropdownIcon text-center" id="hide-writeform2" src = "<%=dropdown%>">
          </div>
          <hr>
          <div class="form-group" id="write-form-tag2">
            <!--입력 폼-->
            <div class="col-12 writeItem" id="genderSelectDiv">
              <div class="writeDiv1"><%=genderText%></div>
              <div class="writeDiv2" id="locationText">
                <label class="switch" id="genderSwitch">
                  <input type="checkbox" id="genderCheckbox">
                  <span class="slider round"></span>
                </label></div>
            </div>
            <div class="col-12" id="genderDiv">
              <div class="btn-group btn-group-toggle" data-toggle="buttons" id="attend-div">
                <label class="btn btn-danger" id="maleBtn">
                  <input type="radio" name="genderSelect" value="male"><%=maleText%>
                </label>
                <label class="btn btn-danger"  id="femaleBtn">
                  <input type="radio" name="genderSelect"value="female"><%=femaleText%>
                </label>
              </div>
              </div>
            <hr>
            <div class="col-12" id="writeItem">
              <div class="writeDiv1"><%=ageText%></div>
              <div class="writeDiv2" id="locationText">
                <label class="switch" id="ageSwitch">
                  <input type="checkbox" id="ageCheckbox">
                  <span class="slider round"></span>
                </label></div>
            </div>
            <div class="col-12" id="ageDiv">
               
              <div id="slider-range"><div id="custom-handle" class="ui-slider-handle"></div><div id="custom-handle2" class="ui-slider-handle"></div></div>
  
            </div>
            <hr>
          </div>
        </div>

      </div>

        </div>
          <div class="col-12 fixed-bottom-div" id="button-div">
            <a id="write-button" class="col-12 btn btn-primary px-4 py-2"><%=applyBtnText%></a>
          </div>
      </div>
    </div>

  </div>

  
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" id="cate-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle2"><%=modalTitle2%></h5>
					<button type="button" class="close" id="close_popup2" data-dimiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>					
				</div>
				<div class="row form-group" id="modal-form">
				<div class="form-group" id="modal-info">
				</div>
        <div class="col-12 col-md-6 col-lg-3">
          <div id="cateForm"></div>
					</div>
				</div>								
			</div>
		</div>
  </div>

  
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content" id="cate-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle2"><%=mapSearchText%></h5>
					<button type="button" class="close" id="close_popup3" data-dimiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>					
				</div>
				<div class="row form-group" id="google-modal-form">
				<div class="form-group" id="modal-info">
				</div>
        <div class="col-12 " id="div-keyword">
          <input type="text" class="span6" name="keyword" id="keyword" placeholder="<%=mapSearchText%>">
          <hr>
        </div>
        <div id="map_canvas"></div>
					</div>
				</div>								
			</div>
		</div>
  



</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/lib/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/lib/jquery-ui.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/owl.carousel.min.js"></script>
<script src="/js/lib/jquery.stellar.min.js"></script>
<script src="/js/lib/jquery.magnific-popup.min.js"></script>
<script src="/js/lib/bootstrap-datepicker.js"></script>
<script src="/js/lib/timedropper.js"></script>
<script src="/js/lib/aos.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script src="/js/lib/bootstrap-material-datetimepicker.js"></script>


<script src="/js/lib/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr-r448ruHCKvwugrHq9nH2-SXqkj4u9M&libraries=places"async defer></script>
<script src="/js/views/main.js"></script>

<script src="/js/views/nav/nav.js"></script>

<script type="text/javascript">
  $(document).ready(function () {

    var loginStatus  = "<%=loginStatus %>";
    var userId = "<%=userId%>";

    var countrycode = null;
    var areacode = null;
    var category = null;
    var headcountnow = 2;

    var date = new Date();
    date.setDate(date.getDate()-1);
    
    var genderCheckboxStatus = Boolean(false);
    var ageCheckboxStatus = Boolean(false);

    var latX = null;
    var longY = null;

    var limitAge_min = null;
    var limitAge_max = null;

    
    var no = location.href
      .substr(location.href.lastIndexOf('=') + 1);

      $.ajax({
      url: "/board/getpost?no=" + no,
      async: false,
      type: "get",
      dataType: "json",
      success: function (data) {
        if (data['result'] == true) {
          if(data.rows.length == 0){
            alert("<%=errorMessage%>");
            history.back();
          }
          else
          {
            // var boardData = JSON.stringify(data);

            $.each(data.rows, function (index, item) {

              if(item.WRITER != userId){
                alert("<%=errorMessage%>");
                location.href="/";
                return
              }else{

              $("#titleText").val(item.TITLE);
              $("#meetDateText").val(item.MEET_DATE);
              $("#meetTimeText").val(item.MEET_TIME);
              $("#headCountText").val(item.HEADCOUNT);
              headcountnow = item.HEADCOUNT_NOW;
              $("#placeText").val(item.PLACE);
              item.CONTENTS = item.CONTENTS.replace(/<br\s?\/?>/g,"\n");
              $("#contentText").html(item.CONTENTS);              
              $("#sourceText").val(item.SOURCE);
              $("#contactText").val(item.CONTACT);
              $("#locationText").text(item.AREA);
              limitAge_max = item.LIMIT_AGE_MAX;
              limitAge_min = item.LIMIT_AGE_MIN;
              countrycode = item.COUNTRY_CODE;
              areacode = item.AREA_CODE;
              category = item.CATEGORY;
              latX = parseFloat(item.LATITUDE);
              longY = parseFloat(item.LONGITUDE);
              
              $("#locationText").val(item.AREA);
              $("#cateText").val(item.CATEGORY);

              if(item.AUTOPARTION == 1){
                $("#re-radio1").attr('checked', true);
              }else if(item.AUTOPARTION == 0){
                $("#re-radio2").attr('checked', true);
              }

              if(item.LIMIT_GENDER == "<%=userGender%>"){
                genderCheckboxStatus == true;
                $("#genderDiv").css("display", "block");
                $("#genderCheckbox").attr('checked', true);
            // append goes here
              }else{
              }

              if(limitAge_max== 80 && limitAge_min==20){
                
              }else{
                ageCheckboxStatus == true;
                $("#ageDiv").css("display", "block");
                $("#ageCheckbox").attr('checked', true);
              }
            }
            });
          }
        }},
			beforeSend: function () {
			},
			complete: function () {
			}
    });


      if("<%=userGender%>" == "male") {
      $("#femaleBtn").css("display", "none");
    }else if("<%=userGender%>" == "female") {
      $("#maleBtn").css("display", "none");
    }else{
      $("#genderSelectDiv").css("display", "none");
    }

    
    $('input[id="genderCheckbox"]').click(function(){
      if($("#genderCheckbox").is(':checked')){
        $("#genderDiv").css("display", "block");
        genderCheckboxStatus = true;
      }else{
        $("#genderDiv").css("display", "none"); 
        genderCheckboxStatus = false;
        
      }
    });

    $('input[id="ageCheckbox"]').click(function(){
      if($("#ageCheckbox").is(':checked')){
        $("#ageDiv").css("display", "block");
        ageCheckboxStatus = true;
      }else{
        $("#ageDiv").css("display", "none"); 
        ageCheckboxStatus = false;
      }
    });
    var handle = $( "#custom-handle" );
    
    var handle2 = $( "#custom-handle2" );

    $( "#slider-range" ).slider({
      range: true,
      min: 20,
      max: 80,
      values: [ limitAge_min, limitAge_max ],
      create: function() {
        handle.text( limitAge_min+"<%=selectage%>");
        handle2.text( limitAge_max+"<%=selectage%>");
      },
      slide: function( event, ui ) {
        handle.text( ui.values[ 0 ]+"<%=selectage%>");
        handle2.text( ui.values[ 1 ]+"<%=selectage%>");
        limitAge_min = ui.values[0];
        limitAge_max = ui.values[1];
      }
    });

    $("#infoDiv1").click(function() {
      if($("#write-form-tag").css("display") == "none"){  
        $("#write-form-tag").css("display", "block"); 
        $("#hide-writeform").attr("src", "<%=dropdown%>");
      }else{
        $("#write-form-tag").css("display", "none");
        $("#hide-writeform").attr("src", "<%=dropup%>");
      }
    });

    $("#infoDiv2").click(function() {
      if($("#write-form-tag2").css("display") == "none"){  
        $("#write-form-tag2").css("display", "block"); 
        $("#hide-writeform2").attr("src", "<%=dropdown%>");
      }else{
        $("#write-form-tag2").css("display", "none");
        $("#hide-writeform2").attr("src", "<%=dropup%>");
      }
    });
    

    $("#contentText").on('keydown keyup', function () {
      $(this).height(1).height( $(this).prop('scrollHeight')+12 );	
    });


    $("#cateText").click(function(){
      $('#myModal2').modal('show');
    });

    $("#close_popup2").click(function() {
  			
        $('#cateText').modal('hide');
    });
    $("#close_popup3").click(function() {
  			
        $('#myModal3').modal('hide');
    });

    $.ajax({
      url: "/writepost/getcategory",
			async: false,
			type: "get",
			success: function (data) {
        $.each(data.rows, function (index, item) {

          var cate = "<div id=\"catesection\">" +
          "<button class=\"btn btn-primary locationBtn\" type=\"submit\" id=\"cateBtn"+item.SEQ+"\" style=\"background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("+item.IMG+");\">" 
           +item.CATEGORY +"</button></div>";

           $("#cateForm").append(cate);
           if(item.SEQ == category){
            $('#cateText').text(item.CATEGORY);
           }

           $("#cateBtn"+item.SEQ).click(function(){
              $('#cateText').text(item.CATEGORY);
              $('#myModal2').modal('hide');
              category = item.SEQ;
            });

        });
        
			},
			beforeSend: function () {
			},
			complete: function () {
			}
    });

$('#meetTimeText').bootstrapMaterialDatePicker({
				date: false,
				shortTime: false,
				format: 'HH:mm'
			});;

    $('#meetDateText').click(function(){
      $("#nav-back").css("display", "block");
      $("#none-nav-title").css("display", "none");
        $('#meetDateText').datepicker({
        startDate: new Date,
        endDate : new Date(new Date().setDate(new Date().getDate() + 180)),
        format: "yyyy-mm-dd",
        autoclose: true,
        onSelect: function (dateText, inst) {
        }
      }).datepicker('show').on('hide', function(ev) { // <-----------
        
      $("#nav-back").css("display", "none");
      $("#none-nav-title").css("display", "block");

    });
      
    });

    
    $("#placeText").click(function(){
      $('#myModal3').modal('show');
    });

    $("#myModal3").on("shown.bs.modal", function() {

      var myLatLng = {lat: latX, lng: longY};
      
      if(latX == null || longY == null || latX == "" || longY == ""){
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
             latX =  position.coords.latitude;
             longY = position.coords.longitude;
          })
        }else{
            latX = '37.532600';
            longY = '127.024612';
        }
      }
        var map_options = {
        center:{lat: latX, lng: longY},
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"), map_options);

    var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(myLatLng.lat),
        new google.maps.LatLng(myLatLng.longY)
    );

    var input = document.getElementById("keyword");
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo("bounds", map);
    var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });

    google.maps.event.addListener(autocomplete, "place_changed", function(event)
    {
        var place = autocomplete.getPlace();

        keyword = $("#keyword").val();

        
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }

        marker.setPosition(place.geometry.location);
        var latitude = marker.getPosition().lat();
    var longitude = marker.getPosition().lng();
    
    });

    google.maps.event.addListener(map, "click", function(event)
    {
        marker.setPosition(event.latLng);
        var latitude = event.latLng.lat();
    var longitude = event.latLng.lng();
    
    if (confirm("<%=mapAlertText%>") == true){
      $("#placeText").text(keyword);
      latX = latitude;
      longY = longitude;
      $("#myModal3").modal('hide');
      }
    });

    marker.addListener('click', function() {
      var latitude = marker.getPosition().lat();
      var longitude = marker.getPosition().lng();
      if (confirm("<%=mapAlertText%>") == true){
      $("#placeText").text(keyword);
      latX = latitude;
      longY = longitude;
      $("#myModal3").modal('hide');
      }
    });

         
    });

    $("#myModal3").on("hidden.bs.modal", function() {$("#googleMap").empty();});




    $("#write-button").click(function(){

        var locationText = countrycode;
        var locationText2 = areacode;
        var cateText = category;
        var meetDateText = $("#meetDateText").val();
        var meetTimeText = $("#meetTimeText").val();
        var headCountText= $("#headCountText").val();
        var placeText = $("#placeText").text();
        var sourceText = $("#sourceText").val();
        var contactText = $("#contactText").val();
        var titleText = $("#titleText").val();
        var contentText = $("#contentText").val();
        var contentText2 = contentText.replace(/(?:\r\n|\r|\n)/g, '<br />');

        var id = userId;
        var writerCountry = "korea";
        var autoparticipation = $('input[name=autoparticipation]:checked').val();
        var limitGender = "nothing";

       
      if(genderCheckboxStatus)
        limitGender = $('input[name=genderSelect]:checked').val();

      if(!ageCheckboxStatus){
        limitAge_max = 80;
        limitAge_min = 20;
      }else if(limitAge_min > "<%=userAge%>" || limitAge_max < "<%=userAge%>"){
        alert("<%=ageErrorMessage%>");
        return;
      }
      if(headCountText < headcountnow || headCountText > 128){
        alert(headcountnow+1+"<%=heaCountAlerText%>");
        return;
      }


      if(locationText == null || locationText2 == null || cateText == null || meetDateText == null || meetTimeText == null || headCountText ==null
      || titleText == null || contentText == null){
        alert("<%=writeErrorText%>");
      }else{
      var allData = {
      "locationText": locationText,
      "locationText2": locationText2,
			"cateText": cateText,
			"meetDateText": meetDateText,
			"meetTimeText": meetTimeText,
			"headCountText": headCountText,
			"placeText": placeText,
			"sourceText": sourceText,
			"contactText": contactText,
			"titleText": titleText,
			"contentText": contentText2,
			"id": id,
			"writerCountry": writerCountry,
      "limitAgeMin": limitAge_min,
      "limitAgeMax" : limitAge_max,
      "limitGender" : limitGender,
      "autoparticipation": autoparticipation,
      "no" : no,
      "latitude" : latX,
      "longitude" : longY
    };
    
		$.ajax({
			url: "/writepost/updatemypost",
			data: allData,
			async: false,
			type: "get",
			success: function (data) {
        if(data['result'] == true){
          alert("모임글 수정에 성공하였습니다");
          history.back();
        };
			},
			beforeSend: function () {
			},
			complete: function () {
			}
		});

      }

    });

    
  });

  function numberLengthCheck(eventInput){
    var inputText = $(eventInput).val();
    if(inputText.replace(/[0-9]/g, "").length > 0) {
      $(eventInput).val('');
    }

    if(inputText < 2) {
      $(eventInput).val(2);
    }
    if(inputText > 100){
      $(eventInput).val(100);
    }
  }

  function inputLengthCheck(eventInput){
    var inputText = $(eventInput).val();
    var inputMaxLength = $(eventInput).prop("maxlength");

    var j = 0;
    var count = 0;

  for(var i = 0;i < inputText.length;i++) { 
    val = escape(inputText.charAt(i)).length; 
  if(val == 6){
    j++;
  }
    j++;
    if(j <= inputMaxLength){
    count++;
    }
    }
    if(j > inputMaxLength){
    $(eventInput).val(inputText.substr(0, count));
    }
  }

</script>



</html>